@import "tailwindcss";

:root {
  --bg-color: #f9f2e9;
  --black: #1e1e1e;
  --light-brown: #a79785;
  --white: white;
  --yellow: #f0b420;
  --purple: #b0a5f4;
  --red: #f36c5a;
  --light-brown-gray: #f2e8dc;
  --gray: #fffaf3;
  --light-black: #403f3e;
  --dark-brown-gray: #e8ddd0;
}

.font-gochi-hand {
  font-family: var(--font-gochi-hand);
}

.noise {
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: color-burn;
  will-change: opacity;
  backface-visibility: hidden;
  background-image: url(https://cdn.prod.website-files.com/67079a31e71560a787d9fcc4/6707b45e1c28f88fc781209a_noise.webp);
  background-position: 50%;
  background-size: cover;
  position: fixed;
  inset: 0%;
}

.animate-spin {
  animation: spin 3s linear infinite;
}